@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-synthesis: none;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-width: 1280px;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
}
